<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>minha página web</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        <h3>Seja bem-vindo {{email}}</h3>
        <a href="/">Logout</a>
    </div>
    <div class="div-inferior">

        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="/entraremcontato">Contato</a></li>
            <li><a href="/listarContatos">Lista de Inscrições</a></li>
          </ul>
        </nav>
    </div>
</body>
</html>